div{
    margin: 0 auto;
    width: 1920;
    max-width: 90%;
    min-width: 500px;
}
div img{
    max-width: 100%;
    height: auto;
}

canvas {
    border: 3px solid black;
    padding: 0;
    margin: auto;
    display: block;
    width: 400px;
    height: 400px;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 300px
}
